---
- name: Node | Upgrade system packages
  ansible.builtin.dnf:
    name: "*"
    state: latest
  become: true

- name: Guest Agent | package is present
  ansible.builtin.dnf:
    name: qemu-guest-agent
  become: true

- name: Guest Agent | service is enabled
  ansible.builtin.systemd_service:
    enabled: true
    name: qemu-guest-agent.service
  become: true

- name: Watchdog | package is present
  ansible.builtin.dnf:
    name: watchdog
  become: true

- name: Watchdog | config file is present
  ansible.builtin.copy:
    src: watchdog.conf
    dest: /etc/watchdog.conf
    mode: "0644"
  become: true

- name: Watchdog | service is enabled
  ansible.builtin.systemd_service:
    enabled: true
    name: watchdog.service
  become: true
