---
- name: Node | Upgrade system packages
  ansible.builtin.dnf:
    name: "*"
    state: latest
  become: true

- name: Guest Agent | QEMU guest agent is present
  ansible.builtin.dnf:
    name: qemu-guest-agent
  become: true

- name: Guest Agent | QEMU guest agent service is enabled
  ansible.builtin.systemd_service:
    enabled: true
    name: qemu-guest-agent.service
  become: true
