---
- name: Node configuration
  hosts: default
  roles:
    - name: sneakybugs.kubernetes.system
      vars:
        system_kubernetes_version: "{{ template_kubernetes_version }}"
        system_cni_version: "{{ template_cni_version }}"
    - name: node
    - name: images
